extend layout
block moreLinks
	a(href="/") Home
block message
	p
		strong Pork!
		|  is pretty rad.
block content
	.span-10.last.prepend-1
		p
			| This is a prototype for Pork. A totally rad and happening 
			| place where you can help and give help to your fellow students
	