extend layout
block moreLinks
	a(href='/signup') Do the signup
block message
	p
		| Welcome to 
		strong Pork! 
		|  It's a cool way to learn from other University of Arkansas students. Learn more at our 
		a(href='/about') about
		|  page.
block content
	script(src='/js/jquery.min.js')
	script(src='/js/account_create.js')
	.span-12
		h3 Login
		form.login(method='post')
			input(type='text', name='name', id='l_username', placeholder='Username')
			br
			input(type='password', name='pass', id='l_password', placeholder='Password')
			br
			input(type='submit', id='l_submit')

