extend layout
block moreLinks
	a(href='/settings/#{name}') Settings
block message
	span Hello #{name}! Learn something you little shit!
block content
	.content_box.span-2.prepend-1.middle_box
		h2 Profile
		p
			| Username: 
			strong #{name}
			br
			| Member Since: 
			strong uh
	.content_box.span-5.middle_box
		h2 Active Sessions
	.content_box.span-3.last.middle_box
		h2 New Session
		strong Create New Session