extend layout
block message
	p
		| Hello #{name}! Learn some shit!
block content
	.content_box.span-2.prepend-1
		h2 Profile
		p
			| Username: 
			strong #{name}
			br
			| Member Since: 
			strong uh
	.content_box.span-5
		h2 Active Sessions
	.content_box.span-3.last
		h2 New Session
		strong Create New Session