extend layout
block message
	p
		| Hello #{name}! Learn some shit!
block content
	.landing_box.span-2
		h2 Profile
		p
			| Username: 
			strong #{name}
			br
			| Member Since: 
			strong uh
	.landing_box.span-7
		h2 Active Sessions
	.landing_box.span-3.last
		h2 New Session
		strong Create New Session