doctype html
html
	head
		title #{title}
		link(href='/css/blueprint.css', rel='stylesheet' type='text/css')
		link(href='/css/pork.css', rel='stylesheet' type='text/css')
		if (error != null)
			script.
				alert("#{error}")
	body
		.container
			hr.space
			.span-2.prepend-1.content_box.header_box
				a(href='/', class='logo'): h1.logo Pork!
			.span-8.last.content_box.header_box
				block message
				br
				if (name != null)
					a(href='/landing/#{name}') Landing
					span  
				a(href='/about') About
				span  
				a(href='/help') Help
				span  
				block moreLinks
				if (name != null)
					a(href='/logout') Logout
					span  
			hr.space
			block content 
			hr.space
			.span-10.last.prepend-1.content_box
				p Running on node.js with Express and Jade
			hr.space