extend layout
block message
	p
		| Thank you for signing up for 
		strong Pork!
block content
	.span-12
		h3 Create
		form.create(method='post')
			input(type='text', name='name', id='c_username', placeholder='Username')
			br
			input(type='password', name='pass', id='c_password', placeholder='Password')
			br
			input(type='password', id='c_confirm_password', placeholder='Confirm Password')
			br
			input(type='submit')