extend layout
block content
	h1 Pork!
	p
		| Thank you for signing up for  
		strong Pork!
	
	form.create
		h3 Create
		input(type='text', id='c_username', placeholder='Username')
		br
		input(type='password', id='c_password', placeholder='Password')
		br
		input(type='password', id='c_confirm_password', placeholder='Confirm Password')
		br
		input(type='submit')